#main {
    width: 1000;
    margin: 0 auto;
}
#map {
    float: right;
}
h1 {
    display: block;
    text-align: center;
    color: #6daed1;
    font-family: arial;
    font-weight: bold;
    font-size: 50px;
    margin: 20px;
}
#list {
    float: left;
    margin-top: -15px;
    width: 290px;
}
li {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 10px;
    background: #b9d0e9;
    border: 3px solid #6daed1;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}


#foodbutton{
    list-style-type: none;
    margin: 0px;
	text-align: center;
    padding: 10px;
    background: #FF9933;
    border: 3px solid #FF3300;
    font-weight: bold;
    font-size: 14px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;

}


li a:link, a:visited {
    color: #4b8cb0;
    text-align: right;
    display: block;
    text-decoration: none;
    border-top: 1px dotted #6daed1;
}
li a:hover, a:active {
    text-decoration: underline;
	
}
a:active {
    text-decoration: underline;
}
ol span {
    display: block;
}
span .location {
	margin-bottom: 5px;
	display: block;
}