<html>
	<head>
        <title>Free Food Columbia</title>
        <link rel="stylesheet" href="{{MEDIA_URL}}css/test.css" type="text/css" />
	</head>
	<body>
		<center>
			<div id=formdiv>
	<p>
	Date and Time has to be in the following format: <br />
	DAY, DATE MONTH YEAR at STARTTIME to ENDTIME <br />
	detail-link has to include 'http://' 
	</p>
	<form name="input" action="/" method="get">
			
			Date and Time: <input type="text" name="datetime" /> 
			Location: <input type="text" name="location" /> <br />
			Description: <input type="text" name="description" />
			detail-link: <input type="text" name="source" /> <br />
			<input type="submit" value="Submit" />
		</form>
			</div>
	</body>
	</html>