<html>
	<head>
        <title>Free Food Columbia</title>
        <link rel="stylesheet" href="test.css" type="text/css" />
	<style>
				#main {
    width: 700;
    margin: 0 auto;
}
#map {
    float: right;
}
h1 {
    display: block;
    text-align: center;
    color: #6daed1;
    font-family: arial;
    font-weight: bold;
    font-size: 50px;
    margin: 20px;
}
#list {
    float: left;
    margin-top: -10px;
    width: 290px;
}
li {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 10px;
    background: #b9d0e9;
    border: 3px solid #6daed1;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
ol span {
    display: block;
}
span .location {
	margin-bottom: 5px;
	display: block;
}
	</style>
	</head>
	<body>
		<div id=main>
		<h1>Free Food Columbia</h1>
		<div id=map><img src="http://www.columbia.edu/about_columbia/map/images/maps/map.png" width=400></div>
		<div id=list>
			<ol>
			{% for event in event_list %}
			<li>
			<span class=date>{{event.date}}</span>
			<span class=location>{{event.location}}</span>
			<span class=description>{{event.description}}</span>
			<span class=source>{{event.source}}</span>
			</li>
			{% endfor %}
			</ol>
		</div>
	</body>
</html>