<html>
	<head>
        <title>Free Food Columbia</title>
        <link rel="stylesheet" href="test.css" type="text/css" />
	</head>
	<body>
		<div id=main>
		<h1>Free Food Columbia</h1>
		<div id=map><img src="http://www.columbia.edu/about_columbia/map/images/maps/map.png" width=400></div>
		<div id=list>
			<ol>
			{% for event in event_list %}
			<li>
			<span class=date>{{event.date}}</span>
			<span class=location>{{event.location}}</span>
			<span class=description>{{event.description}}</span>
			<span class=source>{{event.source}}</span>
			</li>
			{% endfor %}
			</ol>
		</div>
	</body>
</html>