<html>
	<head>
        <title>Free Food Columbia</title>
        <link rel="stylesheet" href="{{MEDIA_URL}}css/test.css" type="text/css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
	<script>
	$(document).ready( function() {
		$("#image").mousemove( function( e ) {
			var offset = $(this).offset();
			var x = e.pageX - offset.left
			var y = e.pageY - offset.top;
			 
			$("#x-coordinate").text( x );
			$("#y-coordinate").text( y );
		});
	});
	</script>
	</head>
	<body>
		<map name="buildings">
			<area href="window.location.href='/form'" onclick="" alt="Pupin" title="Pupin" shape="rect" coords="265, 26, 328, 49">

			<area href="" onclick="" alt="Pupin" title="Pupin" shape="rect" coords="265, 26, 328, 49">
			<area href="" alt="NorthWestCorner" title="NoCo" shape="poly" coords="235, 26, 265, 26, 265, 50, 258, 50, 258, 96, 235, 96, 235, 26">
			<area href="" alt="SchapiroCESPR" title="ShapiroCESPR" shape="rect" coords="336, 32, 398, 72">
			<area href="" alt="Mudd" title="Mudd" shape="rect" coords="408, 30, 500, 60">
			<area href="" alt="Uris" title="Uris" shape="rect" coords="328, 108, 406, 172">
			<area href="" alt="Math" title="Math" shape="rect" coords="235, 190, 256, 242">
			<area href="" alt="Earl" title="Earl" shape="rect" coords="255, 240, 291, 261">

			<area href="" alt="Lerner" title="Lerner" shape="rect" coords="234, 480, 305, 525">

		</map>
		<div id=main>
<!--<div id=map><p>X:<span id="x-coordinate"></span></p>
	<p>Y:<span id="y-coordinate"></span></p>
	<img id=image src="http://oi53.tinypic.com/28uhj47.jpg" usemap ="#buildings" width=700></div>
-->
		<h1><img src="http://i56.tinypic.com/rh1myd.png"/></h1>
		<div id=map>

	<FORM>
	<INPUT TYPE="BUTTON" id = "foodButton" VALUE="Report Free Food!" ONCLICK="window.location.href='/form'"> 
	</FORM>
		<img src="http://oi53.tinypic.com/28uhj47.jpg" width=700>
		</div>
		<div id=list>
		
		<!--<div id="Style"><img src="http://www.wallpaperama.com/post-images/forums/200901/11-880-aaaa.jpg"></div>-->


	<!--<p>X:<span id="x-coordinate"></span></p>
	<p>Y:<span id="y-coordinate"></span></p>-->
		<img id=image src="http://oi53.tinypic.com/28uhj47.jpg" usemap ="#buildings" width=700>
		</div>
		<div id=list><br>
		<span style="text-align: right">
	<FORM>
	<INPUT TYPE="BUTTON" id = "foodButton" VALUE="Report Free Food!" ONCLICK="window.location.href='/form'"> 
	</FORM></span>
			<ol>
			{% for event in event_list %}
			<div id ="event" >

			<script type="text/javascript">
			function ShowPicture(id,Source) { 
			if (Source=="1"){ 
			if (document.layers) document.layers[''+id+''].visibility = "show" 
			else if (document.all) document.all[''+id+''].style.visibility = "visible" 
			else if (document.getElementById) document.getElementById(''+id+'').style.visibility = "visible" 
			} 
			else 
			if (Source=="0"){ 
			if (document.layers) document.layers[''+id+''].visibility = "hide" 
			else if (document.all) document.all[''+id+''].style.visibility = "hidden" 
			else if (document.getElementById) document.getElementById(''+id+'').style.visibility = "hidden" 
			} 
			} 
			</script>
			<a href="#" onMouseOver="ShowPicture('Style',1)" onMouseOut="ShowPicture('Style',0)">
			<li>
			<span class=date><b>Time: </b>{{event.date}}</span>
			<span class=location><b>Location: </b>{{event.location}}</span>
			<span class=description><b>Event: </b>{{event.description}}</span>
			<span class=source><a href = {{event.source}}> See More </a></span>
			</li>
			</a>
			</div>
			{% endfor %}
			</ol>
		</div>
	</body>
</html>
